@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* 0cc1aa  green*/

/* 0e0e0e  black*/
::-webkit-scrollbar {
    width: 0;
}

body {
    background: #dad8d8;

    font-weight: 300;
}

.wrap {
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 150px 0 0 0;
}

.timer {
    max-width: 700px;
    background: #fff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
}

.timer__button {
    background: none;
    border: 0;
    color: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.timer__section-group {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    padding: 70px 90px;
}

.timer__section-item {
    text-align: center;
    font-size: 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.number__desription {
    font-size: 25px;
}

.timer-colon {
    font-size: 70px;
    padding: 30px 0 0 0;
    justify-self: center;
}

.button__plus,
.button__minus {
    justify-self: center;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__plus:hover,
.button__minus:hover {
    background: #f0efef;
    transition: 0.2s;
}

.button__plus:active,
.button__minus:active {
    background: #c7c7c7;
    transition: 0.2s;
}

.button__minus {
    margin: 10px 0 0 0;
}

.button__plua {
    margin: 0 0 10px 0;
}

.button__plus img {
    transform: rotate(90deg);
}

.button__minus img {
    transform: rotate(-90deg);
}

.timer-button__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.timer__button--start {
    padding: 20px;
    font-size: 18px;
    font-weight: 200;
    border-top: 2px solid #0e0e0e;
    border-bottom: 2px solid #0e0e0e;
    border-left: 2px solid #0e0e0e;
}

.timer__button--stop {
    padding: 20px;
    /* background: #939695; */
    font-size: 18px;
    font-weight: 200;
    border-top: 2px solid #0e0e0e;
    border-bottom: 2px solid #0e0e0e;
    border-left: 2px solid #0e0e0e;
}

.timer__button--reset {
    padding: 20px;
    /*   */
    font-size: 18px;
    font-weight: 200;
    border: 2px solid #0e0e0e;
}

.timer__button--start:hover,
.timer__button--stop:hover {
    background: #777777;
    transition: 0.2s;
    color: rgb(238, 238, 238);
}

.timer__button--start:active,
.timer__button--stop:active {
    background: rgb(75, 75, 75);
    transition: 0.2s;
}

.timer__button--reset:hover {
    background: #0fdfc3;
    color: #fff;
}

.timer__button--reset:active {
    background: #07c4aa;
}

.popup {
    visibility: hidden;
    position: fixed;
    width: 275px;
    right: 20px;
    top: 20px;
    background: #0e0e0ed7;
    padding: 20px;
    color: #fff;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tabs__button {
    padding: 20px 0;
    /* background: #b6b6b6ff; */
    font-size: 20px;
    border-bottom: 2px solid #fff;
}

.tabs__button:hover {
    border-bottom: 2px solid #0fdfc3;
    transition: 0.3s;
}

.tabs__button--active {
    border-bottom: 2px solid #0fdfc3;
}

.stop-watch__section-group {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    padding: 70px 90px;
}

.stop-watch__section-item {
    text-align: center;
    font-size: 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.stop-watch-colon {
    font-size: 70px;
    justify-self: center;
}

.stop-watch-button__group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

.lap-list {
    margin: 0 auto;
    width: 300px;
    padding: 50px 0 0 0;
}

.lap-list__item {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}

.clock__section-group {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    padding: 10px 70px 30px 70px;
    position: relative;
}

.clock-colon {
    justify-self: center;
    font-size: 70px;
}

.clock__section-item {
    font-size: 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.preview-time {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.preview-time__item {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid rgb(206, 198, 198);
    margin: 10px 0 0 10px;
    background: #ececec;
}

.preview-time__capital {
    font-weight: 400;
    font-size: 16px;
}

.preview-time__sub-timer {
    font-size: 14px;
    font-weight: 300;
}

.clock__date {
    text-align: end;
    padding: 0px 0px 20px 0px;
    font-size: 26px;
}

.wrap-clock {
    padding: 20px;
}

.search {
    width: 100%;
    display: flex;
    position: relative;
}

.search__input {
    width: 100%;
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 7px 5px;
}

.search__bttn {
    padding: 5px 15px;
    border-radius: 0px;
    border: 1px solid #0fdfc3;
    background: #0fdfc3;
    color: #fff;
}

.search__result {
    position: absolute;
    top: 100%;
    background: white;
    width: 100%;
    list-style: none;
    padding: 10px 0 0 0;
    border: 1px solid #ccc;
    border-top: none;
    opacity: 0;
    pointer-events: none;
}

.search__result li {
    padding: 3px 5px;
}

.search__result li:hover {
    transition: 0.3s;
    background: #dcdbdb;
}

.active__list {
    background: rgb(193, 193, 193);
    color: #fff;
}

.hintsList {
    opacity: 1;
    pointer-events: auto;
    transition: 0.2s;
    z-index: 1;
}

.link_github {
    position: fixed;
    top: 50%;
    right: 10px;
}

.link_github img {
    width: 50px;
    height: 50px;
}



.city-name {

    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;

}
.first-level__remove-city{
    background: transparent;
    border: none;
    padding: 0px 2px;

}

.first-level__remove-city:hover{
    background: rgb(193, 193, 193); ;
}
.wrap-city-name{
    position: relative;
    display: grid;
    padding: 20px 0;
    grid-template-columns: 1fr fit-content(100%);

    width: 100%;
}
.bttn-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-self: end;
    align-self: center;
}
.button-add {
    width: 20px;
}
.comeback-home img{
    width: 22px;
}

.first-level{
    font-size: 12px;
}
.second-level {
    font-size: 20px;
    font-weight: 400;
}

.third-level{
    font-size: 18px ;
}
@media (max-width: 680px) {
    .link_github {
        position: absolute;
        top: auto;
        bottom: 0;
        right: 10px;
    }

    .timer__section-group {
        padding: 70px 40px;
    }

    .stop-watch__section-group {
        padding: 70px 30px;
    }

    .wrap {
        padding: 0;
    }
}

@media (max-width: 560px) {
    /* .stop-watch-button__group {
        grid-template-columns: repeat(2, 1fr);
    } */
    .stop-watch__section-item {
        font-size: 60px;
    }

    .stop-watch-colon {
        font-size: 53px;
    }

    .number__desription {
        font-size: 21px;
    }

    .clock__section-group {
        padding: 70px 0px;
    }
}

@media (max-width: 460px) {
    .timer__section-group {
        padding: 70px 20px;
    }

    .stop-watch__section-group {
        padding: 70px 10px;
    }

    .stop-watch__section-item {
        font-size: 50px;
    }

    .stop-watch-colon {
        font-size: 44px;
    }

    .stop-watch-button__group {
        grid-template-columns: repeat(2, 1fr);
    }

    .timer__button--one {
        border: 0;
        border: 2px solid #0e0e0e;
    }

    .timer__button--two {
        border: 0;
        border-right: 2px solid #0e0e0e;
        border-top: 2px solid #0e0e0e;
        border-bottom: 2px solid #0e0e0e;
    }

    .timer__button--four {
        border: 0;
        border-right: 2px solid #0e0e0e;
        border-bottom: 2px solid #0e0e0e;
    }

    .timer__button--three {
        border: 0;
        border-right: 2px solid #0e0e0e;
        border-bottom: 2px solid #0e0e0e;
        border-left: 2px solid #0e0e0e;
    }

    .clock__section-item {
        font-size: 60px;
    }

    .clock-colon {
        font-size: 53px;
    }
}

@media (max-width: 420px) {
    .timer__section-item {
        font-size: 60px;
    }

    .tabs__button {
        font-size: 16px;
        padding: 15px 0;
    }

    .timer-colon {
        font-size: 53px;
    }

    .stop-watch__section-item {
        font-size: 40px;
    }

    .stop-watch-colon {
        font-size: 34px;
    }

    .clock__section-group {
        padding: 70px 15px;
    }

    .wrap-clock {
        padding: 10px;
    }
}

.visibal-block {
    visibility: visible;
}

.anima {
    animation-name: opasit;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes opasit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
